<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .h2 {
        margin-right: 20px;
        font-size: larger;
        font: italic;
      }
      #logout {
        padding: 20px;
        font-weight: 900;
        border: none;
        border-radius: 10px;
        background-color: rgb(214, 109, 33);
        color: white;
        text-decoration: none;
      }
      #logout:hover {
        background-color: rgb(138, 58, 0);
      }
      .main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px black;
      }
    </style>
  </head>
  <body>
    <div class="main-div">
      <form action="#" method="post">
        <h2 class="h2">Logged in Successfully... Welcome to the home page!</h2>
        <button id="logout" type="submit">logout</button>
      </form>

      <h2 class="h2">Goto product page</h2>
      <button id="store" type="button" onclick="handleClick()">Store</button>
    </div>
  </body>

  <script>
    function handleClick (){
      const authToken = document.cookie.split("; ")
      .find((row) => row.startsWith("token"))
      .split("=")[1]; //all cookies are saved together in one string
      
      console.log(authToken);
      
      fetch(`https://stackoverflow.com/questions/65818674/how-to-pass-token-to-verify-user-across-html-pages-using-node-js`, {
        method: "GET",
        headers: {
          // authorization: authToken,
          "Content-Type": "application/json",
        },
      })
        .then((res) => {
          res.json().then((res) => console.log(res));
        })
        .catch((err) => {
          console.log(err);
        });
    };
  </script>
</html>
